
body {
  background-color: rgb(214, 213, 213);
  font-family: 'Arial', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo_container {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
}

.logo_container h3 {
  margin-left: 10px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.links, .icons {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  align-items: center;
}

.links {
  justify-content: center;
  flex-grow: 1;
  padding: 0 5%;
}

.links li, .icons li {
  padding: 0 10px;
}

.icons {
  margin-left: auto;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.rectangles_container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 30px;
}

.rectangle {
  background-color: #ff0066;
  border-radius: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px;
}

.text_container {
  max-width: 60%;
}

.rectangle_image, 
aside img, 
.jobs_rectangle img, 
.img_rectangle img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.rectangle h1 {
  font-size: 45px;
  margin-top: auto;
}

.jobs_rectangle, .img_rectangle {
  background-color: #837d7f;
  color: white;
  border-radius: 30px;
  padding: 20px; 
  width: calc(50% - 20px);
  margin-bottom: 20px; 
  box-sizing: border-box; 
}

.jobs_rectangle img, .img_rectangle img {
  max-width: 100%; 
  height: auto;
  display: block; 
  margin-bottom: 10px; 
}

.jobs_rectangle h3 {
  font-size: 40px;
  margin: 0;
}

.jobs_rectangle p {
  font-size: 32px;
}

@media (max-width: 767.98px) {
  header, nav, .logo_container, .links, .icons {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .logo_container, .links, .icons {
    flex-direction: column;
  }

  .links li, .icons li {
    padding: 5px 0; 
  }

  .rectangle {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .rectangle h1, .rectangle p {
    width: 100%;
  }

  .rectangle_image {
    width: 80%; 
    height: auto;
    margin-top: 20px; 
  }

  .rectangles_container {
    flex-direction: column;
  }

  .rectangle_image, .jobs_rectangle img, .img_rectangle img {
    max-width: 100%; 
    height: auto;
    margin: 0 auto;
  }

  .jobs_rectangle, .img_rectangle {
    width: 100%; 
  }

  .jobs_rectangle img, .img_rectangle img {
    max-width: 80%; 
    margin: 0 auto;
  }

  .jobs_rectangle h3, .jobs_rectangle p, .img_rectangle p {
    text-align: center; 
}

@media (min-width: 768px) {
  .rectangles_container {
    flex-direction: row;
  }
}

@media (min-width: 1080px) {
  .rectangles_container {
    justify-content: space-evenly;
  }
}

}

/* commit desde terminal vs*/